.leaders {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.leaders li {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    width: 300px;
}

.leaders li p {
    white-space: normal;
    overflow-wrap: break-word;
}